set_io out[6] E2
set_io out[5] B1
set_io out[4] C5
set_io out[3] C6
set_io out[2] E3
set_io out[1] C2
set_io out[0] B4
set_io D1 D1
set_io -pullup yes rst A1
set_io -nowarn PMOD1 D1
set_io -nowarn PMOD1 A1
set_io -nowarn PMOD2 E2
set_io -nowarn PMOD1 B1
set_io -nowarn PMOD2 C5
set_io -nowarn PMOD2 C6
set_io -nowarn PMOD1 E3
set_io -nowarn PMOD2 C2
set_io -nowarn PMOD2 B4
